<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yo.twittfollows">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.yo.twittfollows.activities.MainActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.yo.twittfollows.activities.CentralActivity"
            android:label="@string/title_activity_central"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.yo.twittfollows.activities.LoginActivity"
            android:label="@string/loginLabel"
            android:screenOrientation="portrait"/>
        <activity android:name="com.example.yo.twittfollows.activities.UserProfileActivity"
            android:label="@string/profileLabel"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>